/* CSS for website */

body {
    font-family: "etbembo-romanlf-webfont.eot", serif !important;
    background: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.34em;
    letter-spacing: .03em;
}